[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ThirdParty/nanoflann"]
	path = ThirdParty/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
